<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/test.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville"
    />
    <title>London Laptop Friendly Places</title>
  </head>
  <body>
    <nav>
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Add</a>
      <a href="">Contact us</a>
    </nav>
    <div class="header">
      <h1>Co-work, Everywhere</h1>
      <p>
        From coffee shops to hotel lobbies, discover everyday places to work and
        connect.
      </p>
      <a href="#" class="Home_btn">Explore London</a>
    </div>
  </body>
</html>
